<h1 id="new-admin-account">This is the new form</h1>
<%= simple_form_for(@account, as: :account, url: admin_account_path) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, 'Create account' %>
<% end%>
